!-*- Perl extensions -*-
URxvt.perl-ext-common: default,font-size

URxvt*scrollBar: false


! alternative font settings with 'terminus':
! URxvt.font:      -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
!URxvt.bold.font: -xos4-terminus-bold-r-normal--16-160-72-72-c-80-iso10646-1

! URxvt.font:                       9x15,xft:TerminessTTFNerdFontMono

URxvt*font: xft:Source\ Code\ Pro\ Medium:size=12:antialias=true:hinting=true,xft:Source\ Code\ Pro\ Medium:size=12:antialias=true:hinting=true

URxvt*depth: 32
URxvt*internalBorder: 10
URxvt.cursorBlink: 1

URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset

URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

! remap copy / paste shortcuts
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
! disable ugly yellow box
URxvt.iso14755 : false

Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb