* {
  font-family: Source Code Pro Medium, MesloLGS;
  font-size: 11px;
  margin-top: 1px;
  /* keep things off the top area, since flexbox doesnt work for centering */
}

window#waybar {
  background-color: #000;
  /* opacity: 0.0; */
  /* border-top: 3px solid #b5740a; */
  color: #d8caac;
}

widget * {
  /* background-color: #383838; */
}

widget>* {
  padding: 0 6px;
  margin: 0px 0px;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 0px 0px;
}

#workspaces {
  padding: 0px 0px;
}

#workspaces button {
  margin: 0;
  padding: 0 0.9em;
  background: transparent;
  color: #cacaca;

  /* border-bottom: 3px solid transparent; */
}

#workspaces .active * {
  background: none;
  color: #87c095;
}

#mode {
  background: #64727D;
  border-bottom: 3px solid white;
}

#temperature{
  padding-left: 1px;
}

#cpu{
  padding-right: 1px;
}

@keyframes pulse-green {
  to {
    background-color: #87c095;
  }
}

#battery.charging {
  color: #87c095;
}

@keyframes pulse-red {
  to {
    background-color: #cf3030;
  }
}

#battery.warning:not(.charging) {
  color: #cacaca;
  animation-name: pulse-red;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

