@define-color foreground #d8caac;
@define-color background #000000;
@define-color color0 #000000;
@define-color color1 #ff9c9e;
@define-color color2 #c2e69c;
@define-color color8 #868d80;
@define-color color12 #89beba;
@define-color color14 #87c095;
@define-color color15 #d8caac;

* {
  font-family: "Source Code Pro Medium", MesloLGS, monospace;
  font-size: 11px;
}

window#waybar {
  background-color: @background;
  color: @color15;
}

widget * {
}

widget>* {
  padding: 0 3px;
  margin: 0px 0px;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 0px 0px;
}

#workspaces {
  padding: 0px 0px;
}

#workspaces button {
  margin: 0;
  padding: 0 0.9em;
  background: transparent;
  color: @color15;
}

#workspaces .active * {
  background: none;
  color: @color14;
}

#mode {
  background: @color8;
  border-bottom: 3px solid white;
}

#temperature{
  padding-left: 1px;
}

#cpu{
  padding-right: 1px;
}

#custom_apps{
}

@keyframes pulse-green {
  to {
    background-color: @color14;
  }
}

#battery.charging {
  color: @color14;
}

#custom-network.wifi-vpn-up {
  color: @color12;
}

@keyframes pulse-red {
  to {
    background-color: @color1;
  }
}

#battery.warning:not(.charging) {
  color: @color15;
  animation-name: pulse-red;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

tooltip {
  color: @color15;
  background-color: #000000;
  border: 1px solid @color8;
}