[pyprland]
plugins = ["scratchpads", "workspaces_follow_focus", "shortcuts_menu", "toggle_special"]

[scratchpads.term]
animation = "fromTop"
command = "kitty --class kitty-dropterm"
class = "kitty-dropterm"
unfocus = "hide"

[shortcuts_menu]
parameters = "--prompt-text hey --fuzzy-match true"
engine = "rofi"
lazy = true

[shortcuts_menu.entries]
"Open Jira ticket" = 'open-jira-ticket "$(wl-paste)"'
"Show Jira cheatsheet" = "xdg-open https://cheatography.com/rhorber/cheat-sheets/jira-text-formatting-notation/"
"WIKI" = "xdg-open http://localhost:8000/"
Gateify = "~/liberty/gatify.sh"
Relayout = "pypr relayout"
